﻿table{
            width:50%;
            margin:auto;
             border-collapse:collapse;
        }

        th,td {
            border:1px;
            border-style:solid;
            border-color:gray;
            text-align:center;
            padding:20px;
            margin:10px;
        }

        tr:nth-child(even){
            background-color:white;
        }